.body{
    display: flex;
}

.navbar {
    list-style-type: none;
    background: black;
}
.navbar li{
    display: inline;
    padding-left: 150px;
    padding-right: 150px;
    background: #ffffff;
}
.centered{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centered section{
    background: white;
}
.navbarbottom {
    list-style-type: none;
    margin-top: 25px;
    background: #ffffff;
}
.navbarbottom li{
    display: inline;
    padding-left: 75px;
    padding-right: 75px;
    background: white;
}
.content{ 
    margin-left: 350px;
    margin-right: 350px;
    font-size: 20px;
}
.navdiv{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    background: black;
}

.fixed{
    position: fixed;
}

